@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
